
<h1>Artiles listing</h1>

<div align = "left">
  <%= will_paginate %>

</div>

<% @articles.each do |article| %>

<div class="flex-container">
  <div class="row">
		        <div class="item col-md-offset col-lg-8 col-xs-offset ">
              <div class="well well-lg ">
				          <div class="item-inner rounded center">
					               <div class="icon-holder text-center mx-auto mb-3"></div><!--//icon-holder-->
					                    <div class="articke-title">
                                <%= article.title%>
                              </div>
					                         <div class= "article-body">
                                     <%= simple_format(truncate(article.description, length:60))%>
                                   </div>
					                              <div class="mt-2"> <%= link_to "read more", article_path(article)%></div> <hr>

                                        <%if article.user%>
                                        <small>created by:
                                          <%= article.user.username%>,
                                          <%=article.created_at.strftime("%Y/%m/%d")%>

                                        </small>
                                         <% else %>
                                          <small>created by: user not found , </small>
                                          <%=article.created_at.strftime("%Y/%m/%d")%>
                                          <%end%>
				        </div>  <!--//item-inner-->
			    </div><!--//item-->
        </div>
  </div>
</div>
<%end%>
<div align = "left">
  <%= will_paginate %>

</div>
